@model List<GreenFirstGoal.Models.FirstGoalBattleViewModel>

@{
    ViewData["Title"] = "Battle First GOal";
    var styleScore1 = "";
    var styleScore2 = "";
    var styleNoGoals = "brown";
    var firstPlayerName = "";
    var secondPlayerName = "";
}

@foreach (var item in Model)
{
    firstPlayerName = item.FirstGoalViewModel.FirstOrDefault().NameFirstPlayer;
    secondPlayerName = item.FirstGoalViewModel.FirstOrDefault().NameSecondPlayer;
}
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
<!-- Define your gradient here - use online tools to find a gradient matching your branding-->
@*    <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=E6w3Eg9fWmTxjwfmywkthPs4DqQqCBVIyaFDtyGCBQnKYWweFoswnl5TxkTEPwYRydOg301m7vaHdxkTERZrL8xzzdGcJmRnl9emaA_ooUOd3D9uF8jKIPBJ6YzcH73PsLDKyI1zBIQN1CU8p6_t1A" charset="UTF-8"></script><style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
      }*@
<section class="bg-white border-b py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
            @firstPlayerName vs @secondPlayerName
        </h2>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                <div class="text-gray-600 text-left bg-gray-100">
                    <h3 class="ml-28 py-4 text-xl text-cyan-900 text-center mx-auto">Primeiro Gol</h3>
                </div>
                <table class="table-fixed w-full text-gray-600 text-center table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="p-2 pb-4 text-center">@firstPlayerName</th>
                            <th class="p-2 pb-4 text-center">@secondPlayerName</th>
                            <th class="p-2 pb-4 text-center">Ninguém</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @foreach (var goals in item.FirstGoalViewModel)
                            {
                                if (goals.FirstGoalAmountSecondPlayer < goals.FirstGoalAmountFirstPlayer)
                                {
                                    styleScore1 = "color:green !important";
                                    styleScore2 = "color:red !important";
                                    styleNoGoals = "color:black !important;";
                                }
                                else if (goals.FirstGoalAmountSecondPlayer > goals.FirstGoalAmountFirstPlayer)
                                {
                                    styleScore1 = "color:red !important";
                                    styleScore2 = "color:green !important";
                                    styleNoGoals = "color:black !important;";
                                }
                                else
                                {
                                    styleScore1 = "color:black !important";
                                    styleScore2 = "color:black !important";
                                    styleNoGoals = "color:brown !important;";
                                }
                                var noGoals = goals.NoGoals;
                                var player1 = @goals.FirstGoalAmountFirstPlayer;
                                var player2 = @goals.FirstGoalAmountSecondPlayer;
                                var total = player1 + player2 + noGoals;
                                <tr>
                                    <td class="p-2 text-center">Ultimos @total Jogos!</td>
                                    <td class="p-2" style="@styleScore1">@Html.DisplayFor(model => goals.FirstGoalAmountFirstPlayer)</td>
                                    <td class="p-2" style="@styleScore2">@Html.DisplayFor(model => goals.FirstGoalAmountSecondPlayer)</td>
                                    <td class="p-2 text-center">@Html.DisplayFor(model => goals.NoGoals)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                <div class="text-gray-600 text-left bg-gray-100">
                    <h3 class="ml-28 py-4 text-xl text-cyan-900 text-center">Média de Gols</h3>
                </div>
                <table class="table-fixed w-full text-gray-600 text-center table-striped">
                    <thead>
                        <tr>
                            @*<th></th>*@
                            <th class="p-2 pb-4 text-center">@firstPlayerName</th>
                            <th class="p-2 pb-4 text-center">@secondPlayerName</th>
                            <th class="p-2 pb-4 text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @foreach (var totals in item.TotalGoalsViewModel)
                            {
                                <tr>
                                    @*<td class="p-2 text-center"></td>*@
                                    <td class="p-2 text-center">@totals.FirstPlayerGoalsAmount</td>
                                    <td class="p-2 text-center">@totals.SecondPlayerGoalsAmount</td>
                                    <td class="p-2 text-center">@totals.MatchTotalGoals</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
                <div class="text-gray-600 text-left bg-gray-100">
                    <h3 class="ml-28 py-4 text-xl text-cyan-900 text-center">Histórico de Partidas</h3>
                </div>
                <table class="table-fixed w-full text-gray-600 text-center table-striped">
                    <thead>
                        <tr>
                            <th class="p-2 text-center">Data</th>
                            <th class="p-2 text-center">Player A</th>
                            <th class="p-2 text-center">Team A</th>
                            <th class="p-2 text-center">Score A</th>
                            <th class="p-2 text-center">Score B</th>
                            <th class="p-2 text-center">Team B</th>
                            <th class="p-2 text-center">Player B</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            foreach (var history in item.HistoryViewModel)
                            {
                                <tr>
                                    <td class="p-2 text-center">@history.GameDate</td>
                                    <td class="p-2 text-center">@history.PlayerA</td>
                                    <td class="p-2 text-center">@history.TeamA</td>
                                    <td class="p-2 text-center">@history.ScoreA</td>
                                    <td class="p-2 text-center">@history.ScoreB</td>
                                    <td class="p-2 text-center">@history.TeamB</td>
                                    <td class="p-2 text-center">@history.PlayerB</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
